@charset "UTF-8";

///////////////////////////////////
//COLOR
///////////////////////////////////
$COLOR_BLACK : #262729;
$COLOR_GRAY_L : #D9D9D9;
$COLOR_GRAY_L2 : #F3F3F3;
$COLOR_GRAY_D : #43474b;
$COLOR_NEV : #021D55;
$COLOR_BULE : #AADBFF;
$COLOR_YELLOW : #FFEA2E;
$COLOR_RED : #ec5860;
$COLOR_PINK : #E24CA6;

///////////////////////////////////
// FONT
///////////////////////////////////
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

$font-JP : "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3",
Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

$font-EN :  'Anton', sans-serif;