@charset "UTF-8";

///////////////////////////////////
//COLOR
///////////////////////////////////
$COLOR_BLACK : #43474b;
$COLOR_GRAY_L : #D9D9D9;
$COLOR_BULE_1 : #0246A7;
$COLOR_BULE_2 : #55A4F0;
$COLOR_YELLOW : #FFEA2E;
$COLOR_RED : #F0440D;
$COLOR_PINK : #F00DA3;

///////////////////////////////////
//margin padding
///////////////////////////////////
$SPACE_SS : 6px;
$SPACE_S : 12px;
$SPACE_M : 24px;
$SPACE_L : 48px;
$SPACE_LL : 96px;

///////////////////////////////////
// FONT
///////////////////////////////////
$font-size-logo: 24px;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans+JP&display=swap');
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");

///////////////////////////////////
// breakpoint
///////////////////////////////////
$bp-tablet : 1024px;
$bp-sp : 768px;

@mixin breakPoint($media-width) {
	@if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == tablet {
		@media only screen and (max-width: $bp-tablet) {
			@content;
		}
	}
	@else if $media-width == main {
		@media only screen and (max-width: $MAIN_WIDTH) {
			@content;
		}
	}
	@else if $media-width == onlypc {
		@media only screen and (min-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == $media-width { //数値入力
		@media only screen and (max-width: $media-width) {
		@content;
		}
	}
	}
	@mixin breakPoint-height($media-height) {
		@if $media-height == $media-height { //数値入力
		@media only screen and (max-height: $media-height) {
		@content;
		}
	}
}

///////////////////////////////////
// COMMON PARTS
///////////////////////////////////
.body{
	overflow-x: hidden;
	color: $COLOR_BLACK;
	font-family: 'Noto Sans JP', sans-serif;
}

/**-----------------
	Header
*-----------------*/
.l-header {
	position: fixed;
	top:0;
	left: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 105px;
	z-index: 10;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	@include breakPoint(sp){
		flex-wrap: wrap;
	}
}

.l-header-logo-nav__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $SPACE_S $SPACE_M;
	flex-wrap: wrap;
	height: 65px;
}

/* logo */
$delay: 0.015s;
$duration: 0.6s;
$easing: cubic-bezier(0.76, 0, 0.24, 1);

.p-headerlogo__link{
	display: block;
}
.c-logo{
	overflow: hidden;
	text-decoration: none;
	display: inline-block;
	height: $font-size-logo * 1;
	text-decoration: none;
	font-size: $font-size-logo;
	line-height: $font-size-logo * 1;
	font-family: 'Merriweather', serif;
	letter-spacing: $font-size-logo / 8;
	color: $COLOR_BLACK;
}

.c-logo-description{
	margin-bottom: $SPACE_SS;
	font-size: 10px;
	white-space: nowrap;
}

/* nav */
.l-header-nav__wrap {
	margin-left: 30px;
	width: auto;
}
.p-header-nav__trigger {
	display: none;
	@include breakPoint(sp) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: column;
		height: 30px;
		width: 30px;
	}
	span {
		display: none;
		@include breakPoint(sp) {
			display: block;
			border-radius: 3px;
			height: 3px;
			width: 30px;
			background-color: $COLOR_BLACK;
		}
	}
}

.l-header-nav__contents {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	list-style: none;
	font-size: 14px;
	@include breakPoint(sp) {
		overflow: hidden;
		position: fixed;
		right: -201px;
		transition: .2s;
		top: 100px;
		right: -100%;
		display: flex;
		align-items: center;
		align-content: center;
		flex-direction: column;
		justify-content: space-around;
		z-index: 10;
		height: calc(100vh - 100px);
		max-width: 12em;
		width: 80%;
		background-color: #fff;
		border: 1px solid $COLOR_BULE_2;
		border-radius: 24px 0 0 24px;
		box-shadow: 0 4px 12px rgba($COLOR_BLACK, .3);
		transition: .2s;
		&.open {
			transition: .2s;
			right: -1px;
		}
	}
}

.p-header-nav__contents-item {
	padding: 0 $SPACE_S;
	white-space: nowrap;
}
.c-header-nav__contents-item-link{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	span{
		display: block;
		margin-top: 4px;
		font-size: 10px;
		color: $COLOR_BULE_2;
	}
}

.p-userInfo__wrap {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	padding: 9px 24px;
	z-index: 10;
	background-color: $COLOR_BULE_2;
	height: 30px;
	width: 100%;
	font-size: 12px;
	color: #FFF;
	line-height: 1;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		li{
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin-right: 30px;
			min-width: 150px;
			a {
				height: 100%;
				width: 100%;
				margin-left: 5px;
				text-decoration: underline;
				color: $COLOR_GRAY_L;
			}
		}
		.c-userinfo__course {
			&::before{
				content: "現在のコース：";
			}
		}
		.c-userinfo__delivary-data {
			&::before{
				content: "次回配送日：";
			}
		}
		@include breakPoint(sp) {
			.c-userinfo__course,
			.c-userinfo__delivary-data,
			.c-userinfo__delivary-data-cahnge{
				display: none;
			}
		}
	}
	.c-userinfo__to-maypage {
		text-decoration: underline;
	}
}

.footer {
	position: static;
	display: block;
	padding: 24px;
	width: 100%;
	height: auto;
	background-color: $COLOR_GRAY_L;
	.logo{
		margin-bottom: 12px;
		font-size: 16px;
		&Description {
			margin-bottom: 6px;
			font-size: 10px;
		}
	}
}
.nav_footer{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;
	flex-direction: row;
	&__item {
		padding: 0 16px;
		white-space: nowrap;
		&:nth-of-type(1){
			padding-left: 0;
		}
		&:nth-last-of-type(1){
			padding-right: 0;
		}
		ol {
			margin-left: $SPACE_SS;
			padding-top: $SPACE_SS;
			li{
				display: block;
				padding: 3px;
				width: 100%;
				::before {
					content: "-";
					display: inline;
					padding-right: 5px;
				}
			}
		}
	}
	a{
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 1;
	}
}