@charset "UTF-8";

///////////////////////////////////
//COLOR
///////////////////////////////////
$COLOR_BLACK : #43474b;
$COLOR_GRAY_L : #D9D9D9;
$COLOR_BULE_1 : #0246A7;
$COLOR_BULE_2 : #55A4F0;
$COLOR_YELLOW : #FFEA2E;
$COLOR_RED : #F0440D;
$COLOR_PINK : #F00DA3;

///////////////////////////////////
//margin padding
///////////////////////////////////
$SPACE_SS : 6px;
$SPACE_S : 12px;
$SPACE_M : 24px;
$SPACE_L : 48px;
$SPACE_LL : 96px;

///////////////////////////////////
// FONT
///////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans+JP&display=swap');
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");

///////////////////////////////////
// breakpoint
///////////////////////////////////
$bp-tablet : 1024px;
$bp-sp : 768px;

@mixin breakPoint($media-width) {
	@if $media-width == sp {
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == tablet {
		@media only screen and (max-width: $bp-tablet) {
			@content;
		}
	}
	@else if $media-width == main {
		@media only screen and (max-width: $MAIN_WIDTH) {
			@content;
		}
	}
	@else if $media-width == onlypc {
		@media only screen and (min-width: $bp-sp) {
			@content;
		}
	}
	@else if $media-width == $media-width { //数値入力
		@media only screen and (max-width: $media-width) {
		@content;
		}
	}
	}
	@mixin breakPoint-height($media-height) {
		@if $media-height == $media-height { //数値入力
		@media only screen and (max-height: $media-height) {
		@content;
		}
	}
}

///////////////////////////////////
// COMMON PARTS
///////////////////////////////////
.body{
	overflow-x: hidden;
	color: $COLOR_BLACK;
	font-family: 'Noto Sans JP', sans-serif;
}

.l-header {
	overflow: hidden;
	position: fixed;
	top:0;
	left: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 105px;
	z-index: 10;
	backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
	@include breakPoint(sp){
		flex-wrap: wrap;
		top: 60px;
	}
}

.p-headerLogoNav {
	display: flex;
	height: 65px;
	justify-content: space-between;
	align-items: flex-end;
	padding: $SPACE_S $SPACE_M;
	.c-headerlogo-link{
		display: block;
	}
	.c-logo{
		text-decoration: none;
		font-size: 24px;
		line-height: 1;
		font-family: 'Merriweather', serif;
	}
	.c-logo-description{
		margin-bottom: $SPACE_SS;
		font-size: 10px;
	}
}

.p-header-nav-contents{
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	list-style: none;
	font-size: 14px;
	.c-header-nav-contents-item {
		padding: 0 16px;
		span{
			display: block;
			margin-top: 4px;
			font-size: 10px;
			color: $COLOR_BULE_2;
		}
	}
	.c-header-nav-contents-item-link{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

.p-userInfo{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	padding: 9px 24px;
	z-index: 10;
	background-color: $COLOR_BULE_2;
	height: 30px;
	width: 100%;
	font-size: 12px;
	color: #FFF;
	line-height: 1;
	.c-menu-trigger,
	.c-menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
	}
	.c-menu-trigger {
	position: relative;
	width: 50px;
	height: 44px;
	background: none;
	border: none;
	appearance: none;
	cursor: pointer;
	}
	.c-menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	}
	.c-menu-trigger span:nth-of-type(1) {
	top: 0;
	}
	.c-menu-trigger span:nth-of-type(2) {
	top: 20px;
	}
	.c-menu-trigger span:nth-of-type(3) {
	bottom: 0;
	}
	@include breakPoint(sp){
		flex-wrap: wrap;
		height: 60px;
		line-height: 1.4;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: nowrap;
		li{
			display: flex;
			flex-direction: row;
			// justify-content: space-between;
			flex-wrap: nowrap;
			margin-right: 30px;
			a {
				height: 100%;
				width: 100%;
				margin-left: 5px;
				text-decoration: underline;
				color: $COLOR_GRAY_L;
			}
		}
	}
}

// .nav__contact{
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	display: block;
// 	padding: 15px;
// 	width: 200px;
// 	height: auto;
// 	background-color: $COLOR_BULE_2;
// 	color:#fff;
// 	h3 {
// 		margin-bottom: 8px;
// 		padding-bottom: 8px;
// 		border-bottom: 1px dotted #FFF;
// 		line-height: 1;
// 	}
// 	li {
// 		margin-bottom: 8px;
// 		a{
// 			display: inline-block;
// 			margin-left: 8px;
// 			line-height: 1;
// 			font-size: 12px;
// 		}
// 		span{
// 			line-height: 1;
// 			padding: 3px;
// 			border: 1px solid rgba(255,255,255, .6);
// 			letter-spacing: .1em;
// 			font-size: 10px;
// 		}
// 	}
// }
