@charset "UTF-8";

// IMPORT COMPRNENTS
@import "compornents/header";
@import "compornents/nav";
@import "compornents/footer";
@import "compornents/value";
@import "compornents/mixins";

// IMPORT PAGE
@import "compornents/pages/top";
@import "compornents/pages/company";
@import "compornents/pages/business";
@import "compornents/pages/store";
@import "compornents/pages/contact";
@import "compornents/pages/error";
@import "compornents/pages/privacy";
@import "compornents/pages/product";

/**-----------------
	BASE
*-----------------*/
* ,
*::before ,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-JP;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6em;
	line-height: 1.6;
	letter-spacing: 0.05em;
}

a {
	text-decoration: none;
	outline: none;
}