@charset "UTF-8";
@import "commonStyle.scss";

/**-----------------
	Homepage contents
*-----------------*/

.l-main {
	padding: 105px 24px 24px;
	min-height: calc(100vh - 172px);
	@include breakPoint(sp) {
		min-height: calc(100vh - 210px);
	}
	section {
		position: static;
	}
	.c-page__title {
		position: relative;
		margin-top: 100px;
		margin-bottom: $SPACE_M;
		padding-bottom: $SPACE_M;
		width: 100%;
		text-align: center;
		line-height: 1;
		font-size: $SPACE_M;
		letter-spacing: .15em;
		&::before {
			content: "";
			position: absolute;
			bottom:0;
			left: 50%;
			transform: translate(-50%, 0);
			display: block;
			width: 81px;
			height: 3px;
			border-radius: 3px;
			background-color: $COLOR_BULE_1;
		}
	}
	.c-page__text {
		text-align: center;
	}
}

.l-first-view {
	position: relative;
	height: calc(100vh - 135px);
	&::before{
		content: "";
		overflow: hidden;
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		width: 58%;
		height: calc(100% - 60px);
		border-radius: 32px;
		background: url('../../public/images/dough-943245_1920.jpg') center / cover no-repeat;
		@include breakPoint(sp) {
			bottom: calc(50% - 30px);
			height: calc(50% - 60px);
		}
	}
	&::after{
		content: "";
		overflow: hidden;
		position: absolute;
		top: 6px;
		left: 0;
		display: block;
		width: 40%;
		height: calc(100% - 296px - 30px);
		border-radius: 32px;
		background: center / cover no-repeat url('../../public/images/bread-2193537_1920.jpg');
	}
	&__text{
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(0, 0);
		padding: $SPACE_L;
		background-color: #FFF;
		line-height: 2;
		font-size: 28px;
		font-family: "M PLUS Rounded 1c";
		z-index: 1;
		@include breakPoint(sp) {
			padding: $SPACE_M;
			font-size: 18px;
		}
		span {
			display: block;
			font-size: 36px;
			@include breakPoint(sp) {
				font-size: 24px;
			}
		}
	}
}
.p-toppage__whatMakeIt-figure {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: row;
    align-items: center;
	margin: 0 calc(50% - 50vw);
	padding: 0 calc(50% - 50vw);
	width: 100vw;
	@include breakPoint(sp) {
		flex-direction: column;
	}
	.c-toppage__whatMakeIt-img {
		color: transparent;
		width: 33%;
		height: auto;
		@include breakPoint(sp) {
			width: 100%;
			height: auto;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: calc(33% - 30px);
		display: block;
		width: 120px;
		height: 100%;
		background-color: $COLOR_GRAY_L;
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		@include breakPoint(sp) {
			top: 0;
			left: -10%;
			display: block;
			width: 30%;
			height: 100%;
		}
	}
	figcaption {
		margin-left: 120px;
		@include breakPoint(sp) {
			margin: 0 $SPACE_S 0 20%;
		}
			li{
			line-height: 2em;
		}
	}
}

.p-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	list-style: none;
	&__item {
		margin-bottom: $SPACE_L;
		min-height: $SPACE_L;
		height: auto;
		width: 100%;
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				margin-right: $SPACE_S;
				padding: 8px 0 ;
				width: 100px;
				text-align: center;
				line-height: 32px;
				color: #FFF;
				font-size: 12px;
				background-color: #55A4F0;
			}
			h3 {
				padding: 8px 0;
				text-align: left;
				line-height: 32px;
				width: calc(100% - 112px);
				@include breakPoint(sp) {
					padding: 3px 0;
					line-height: 20px;
				}
			}
		}
	}
}

