/**-----------------
	BASE
*-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
.body {
  color: #43474b;
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 12px 24px;
  width: 100%;
  height: 65px;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav_header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
}
.nav_header__item {
  padding: 0 16px;
}
.nav_header__item span {
  display: block;
  margin-top: 4px;
  font-size: 10px;
  color: #55A4F0;
}
.nav_header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.shopnNav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 24px;
  z-index: 10;
  background-color: #55A4F0;
  height: 30px;
  width: 100%;
  font-size: 12px;
  color: #FFF;
  line-height: 30px;
}
.shopnNav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.shopnNav ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 30px;
}
.shopnNav ul li a {
  height: 100%;
  width: 100%;
  margin-left: 5px;
  text-decoration: underline;
  color: #D9D9D9;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  font-family: "Merriweather", serif;
}
.logoDescription {
  margin-bottom: 6px;
  font-size: 10px;
}

.nav__contact {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 15px;
  width: 200px;
  height: auto;
  background-color: #55A4F0;
  color: #fff;
}
.nav__contact h3 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #FFF;
  line-height: 1;
}
.nav__contact li {
  margin-bottom: 8px;
}
.nav__contact li a {
  display: inline-block;
  margin-left: 8px;
  line-height: 1;
  font-size: 12px;
}
.nav__contact li span {
  line-height: 1;
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  letter-spacing: 0.1em;
  font-size: 10px;
}

.main {
  padding: 105px 24px 24px;
}
.main section {
  position: static;
}
.main .page__title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.15em;
}
.main .page__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 81px;
  height: 3px;
  border-radius: 3px;
  background-color: #0246A7;
}

.first_view {
  position: relative;
  height: calc(100vh - 135px);
}
.first_view::before {
  content: "";
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50vw;
  height: calc(100% - 60px);
  border-radius: 32px;
  background: center/cover no-repeat url("../../public/images/dough-943245_1920.jpg");
}
.first_view::after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  width: 33vw;
  height: calc(100% - 296px - 30px);
  border-radius: 32px;
  background: center/cover no-repeat url("../../public/images/bread-2193537_1920.jpg");
}
.first_view__text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  padding: 48px;
  background-color: #FFF;
  line-height: 2;
  font-size: 28px;
  font-family: "M PLUS Rounded 1c";
  z-index: 1;
}
.first_view__text span {
  display: block;
  font-size: 36px;
}

.top_main_section_whatMakeIt_figure {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50% - 50vw);
  width: 100vw;
}
.top_main_section_whatMakeIt_figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(33% - 30px);
  display: block;
  width: 120px;
  height: 100%;
  background-color: #D9D9D9;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.top_main_section_whatMakeIt_figure figcaption {
  margin-left: 120px;
}
.top_main_section_whatMakeIt_figure figcaption li {
  line-height: 2em;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  list-style: none;
}
.news__item {
  margin-bottom: 48px;
  height: 31%;
  width: 100%;
}
.news__item a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}
.news__item a p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 48px;
  padding: 8px;
  width: 100px;
  text-align: center;
  line-height: 1;
  color: #FFF;
  font-size: 12px;
  background-color: #55A4F0;
}
.news__item a h3 {
  padding: 8px;
  text-align: left;
  line-height: 1;
}

.footer {
  position: static;
  display: block;
  padding: 24px;
  width: 100%;
  height: auto;
  background-color: #D9D9D9;
}
.footer .logo {
  margin-bottom: 12px;
  font-size: 16px;
}
.footer .logoDescription {
  margin-bottom: 6px;
  font-size: 10px;
}

.nav_footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
}
.nav_footer__item {
  padding: 0 16px;
}
.nav_footer__item:nth-of-type(1) {
  padding-left: 0;
}
.nav_footer__item:nth-last-of-type(1) {
  padding-right: 0;
}
.nav_footer a {
  display: block;
  font-size: 12px;
}