@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
.body {
  overflow-x: hidden;
  color: #43474b;
  font-family: "Noto Sans JP", sans-serif;
}

.l-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 105px;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media only screen and (max-width: 768px) {
  .l-header {
    flex-wrap: wrap;
    top: 60px;
  }
}

.p-headerLogoNav {
  display: flex;
  height: 65px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 24px;
}
.p-headerLogoNav .c-headerlogo-link {
  display: block;
}
.p-headerLogoNav .c-logo {
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  font-family: "Merriweather", serif;
}
.p-headerLogoNav .c-logo-description {
  margin-bottom: 6px;
  font-size: 10px;
}

.p-header-nav-contents {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-size: 14px;
}
.p-header-nav-contents .c-header-nav-contents-item {
  padding: 0 16px;
}
.p-header-nav-contents .c-header-nav-contents-item span {
  display: block;
  margin-top: 4px;
  font-size: 10px;
  color: #55A4F0;
}
.p-header-nav-contents .c-header-nav-contents-item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p-userInfo {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 9px 24px;
  z-index: 10;
  background-color: #55A4F0;
  height: 30px;
  width: 100%;
  font-size: 12px;
  color: #FFF;
  line-height: 1;
}
.p-userInfo .c-menu-trigger,
.p-userInfo .c-menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.p-userInfo .c-menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.p-userInfo .c-menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.p-userInfo .c-menu-trigger span:nth-of-type(1) {
  top: 0;
}
.p-userInfo .c-menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.p-userInfo .c-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .p-userInfo {
    flex-wrap: wrap;
    height: 60px;
    line-height: 1.4;
  }
}
.p-userInfo ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.p-userInfo ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 30px;
}
.p-userInfo ul li a {
  height: 100%;
  width: 100%;
  margin-left: 5px;
  text-decoration: underline;
  color: #D9D9D9;
}

/**-----------------
	Homepage contents
*-----------------*/
.main {
  padding: 105px 24px 24px;
}
.main section {
  position: static;
}
.main .page__title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 24px;
  letter-spacing: 0.15em;
}
.main .page__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 81px;
  height: 3px;
  border-radius: 3px;
  background-color: #0246A7;
}

.first_view {
  position: relative;
  height: calc(100vh - 135px);
}
.first_view::before {
  content: "";
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 50vw;
  height: calc(100% - 60px);
  border-radius: 32px;
  background: url("../../public/images/dough-943245_1920.jpg") center/cover no-repeat;
}
.first_view::after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0;
  display: block;
  width: 33vw;
  height: calc(100% - 296px - 30px);
  border-radius: 32px;
  background: center/cover no-repeat url("../../public/images/bread-2193537_1920.jpg");
}
.first_view__text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  padding: 48px;
  background-color: #FFF;
  line-height: 2;
  font-size: 28px;
  font-family: "M PLUS Rounded 1c";
  z-index: 1;
}
.first_view__text span {
  display: block;
  font-size: 36px;
}

.top_main_section_whatMakeIt_figure {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50% - 50vw);
  width: 100vw;
}
.top_main_section_whatMakeIt_figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(33% - 30px);
  display: block;
  width: 120px;
  height: 100%;
  background-color: #D9D9D9;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.top_main_section_whatMakeIt_figure figcaption {
  margin-left: 120px;
}
.top_main_section_whatMakeIt_figure figcaption li {
  line-height: 2em;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  list-style: none;
}
.news__item {
  margin-bottom: 48px;
  height: 31%;
  width: 100%;
}
.news__item a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}
.news__item a p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 48px;
  padding: 8px;
  width: 100px;
  text-align: center;
  line-height: 1;
  color: #FFF;
  font-size: 12px;
  background-color: #55A4F0;
}
.news__item a h3 {
  padding: 8px;
  text-align: left;
  line-height: 1;
}

.footer {
  position: static;
  display: block;
  padding: 24px;
  width: 100%;
  height: auto;
  background-color: #D9D9D9;
}
.footer .logo {
  margin-bottom: 12px;
  font-size: 16px;
}
.footer .logoDescription {
  margin-bottom: 6px;
  font-size: 10px;
}

.nav_footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
}
.nav_footer__item {
  padding: 0 16px;
}
.nav_footer__item:nth-of-type(1) {
  padding-left: 0;
}
.nav_footer__item:nth-last-of-type(1) {
  padding-right: 0;
}
.nav_footer a {
  display: block;
  font-size: 12px;
}